<div class="ai-carousel">

  <div class="ai-card">
    <img src="/img/data_collection.png" alt="">
    <div class="ai-card-text">
      Utilizamos formulários inteligentes e integração com sistemas de CRM para coletar dados de clientes, incluindo informações cadastrais, preferências, comportamento e histórico de compras.
    </div>
  </div>

  <div class="ai-card">
    <img src="/img/data_ai.png" alt="">
    <div class="ai-card-text">
      Aplicamos técnicas avançadas de análise de dados e inteligência artificial para identificar padrões de consumo, segmentar clientes e prever demandas.
    </div>
  </div>

  <div class="ai-card">
    <img src="/img/insights.png" alt="">
    <div class="ai-card-text">
      Geramos insights estratégicos como produtos com maior potencial de venda, perfis de clientes mais rentáveis e campanhas com maior retorno.
    </div>
  </div>

  <div class="ai-card">
    <img src="/img/dashboard.png" alt="">
    <div class="ai-card-text">
      Desenvolvemos dashboards interativos, automação de marketing, sistemas de recomendação e modelos preditivos personalizados.
    </div>
  </div>

</div>
