<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Saiba o que a IA pode fazer pelo seu negócio</h2>
                <hr class="light">
                <p class="text-faded">Transforme processos, reduza custos e aumente resultados ao automatizar tarefas, 
                    analisar grandes volumes de dados e gerar insights que melhoram decisões estratégicas. 
                    Com a IA seu negócio ganha eficiência, rapidez e capacidade de atender melhor seus clientes, criando soluções mais inteligentes e competitivas.
                    <br>
                    <em>"Os dados são o novo petróleo"</em>
                    Clive Humby, 2006.
    
                    
                    Estruture todo o processo de transformação orientada por dados, começando pela implementação de mecanismos de captura e organização de informações. 
                    Com formulários inteligentes, integração com sistemas de CRM, coleta estruturada de dados de clientes 
                    (como informações cadastrais, preferências, comportamento de navegação e histórico de compras) conseguimos através de técnicas de análise de dados 
                    e inteligência artificial identificar padrões de consumo, segmentar clientes, prever demandas e detectar oportunidades de mercado. 
                    
                    Com essas análises, é possível gerar insights estratégicos, como identificar quais produtos têm maior potencial de venda, quais perfis de clientes 
                    são mais rentáveis, quais campanhas geram maior retorno e quais processos internos podem ser otimizados.

                    Além disso, a consultoria pode desenvolver dashboards interativos, sistemas de recomendação, automação de marketing, análise preditiva de vendas e 
                    modelos de inteligência artificial personalizados, permitindo que a empresa acompanhe seus indicadores em tempo real e tome decisões baseadas 
                    em dados concretos. 
                    
                    Dessa forma, o negócio passa a operar de maneira mais estratégica, utilizando informações para antecipar tendências, melhorar a experiência do 
                    cliente e ampliar sua vantagem competitiva no mercado.
                
                
                </p>
            </div>
        </div>
    </div>
</section>
