<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Saiba o que a IA pode fazer pelo seu negócio</h2>
                <hr class="light">
                <p class="text-faded">Transforme processos, reduza custos e aumente resultados ao automatizar tarefas, 
                    analisar grandes volumes de dados e gerar insights que melhoram decisões estratégicas. 
                    Com a IA seu negócio ganha eficiência, rapidez e capacidade de atender melhor seus clientes, criando soluções mais inteligentes e competitivas.</p>
            </div>
        </div>
    </div>
</section>
