<header>
    <div class="header-content">
        
        <div class="header-content-inner">
            <img src="img/bluefire.png" alt="BlueFire" style="height:240px; width: auto;">
            <img src="img/logo.png" alt="SparkIA" style="height:120px; width:auto;">
            <h2>Use o Poder da Inteligência Artificial a seu favor</h2>
            <hr>
            <p>Transforme processos, acelere resultados e leve sua empresa ao próximo nível com soluções inteligentes.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba mais</a>
        </div>
    </div>
</header>
