<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nossos Serviços:</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Insights Valiosos com Dados</h3>
                    <p class="text-muted">Descubra o potencial dos dados, extraia informações valiosas e conheça seu negócio e seu público</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-commenting-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Chatbots para Atendimento Automatizado</h3>
                    <p class="text-muted">Chatbots para acelerar, dinamizar e personalizar o atendimento aos seus clientes</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-line-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Incremento de Vendas e Serviços</h3>
                    <p class="text-muted">Sistema de recomendação de produtos personalizado e análise preditiva de vendas</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-android wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Automação de Processos</h3>
                    <p class="text-muted">Geração automática de textos, posts, anúncios, respondentes automáticos de e-mails, extração de informações de PDFs, etc.</p>
                </div>
            </div>
        </div>
    </div>
</section>
